.contentTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;

  & > form {
    margin-left: var(--spacing-base);
    margin-right: auto;
  }
}

.submitQueryButton {
  margin-left: var(--spacing-xsmall);
}

.reloadButton {
  margin-left: var(--spacing-xsmall);
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
