.page {
  min-height: 100%;
  --gutter-size: 16px;
  padding: var(--gutter-size, 24px); // defaults to 24
}

.content {
  margin: var(--gutter-size) 0 calc(var(--gutter-size) / 2);
  background: white;
  &:first-of-type {
    margin-top: 16px;
  }
  &.card {
    padding: var(--spacing-base);
  }
}

.contentTitle {
  margin-top: 0;
  margin-bottom: 0;
  line-height: calc(2 * var(--spacing-base));
  font-size: 18px;
  font-weight: 500;
}
